.text-centre {
    text-align: center!important;
}




















/* Learn A || DELETE WHEN WEBSITE IS DONE

    table {
    width: 100%;
    max-width: 30rem;
    height: auto;
    border-collapse: collapse;
}

table thead tr th, table tbody tr td {
    border: 1px solid #ccc;
}

table thead tr th {
    background-color: #000;
    color: #fff;
} */